<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="/static/fonts/fontawesome/css/fontawesome-all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="w-100 p-2">
            <div class="px-2">
                <h3 class="fs-5">URL overview </h3>
                <p>{{screenshot}}</p>
                <div class="flex justify-content-between">
                    <div>
                        {% if detected %}
                        <h1 class="text-danger fs-5">Malicious</h1>
                        <p class="" title="provided by virus total">flagged by {{virustotalresponse.malicious}} vendors on virus total</p>
                        {%else%}
                        <h1 class="text-success fs-5">Clean</h1>
                        {% endif%}
                        <div class="flex align-items-center">
                            <div class="border px-1 mr-1">
                                {% if lexical_features.Secure %}
                                <span class="">Secure</span>
                                <span class="">
                                    <i class="fas fa-lock text-success"></i>
                                </span>
                                {%else%}
                                <span class="">Not Secure</span>
                                <span class="">
                                    <i class="fas fa-lock-open text-danger"></i>
                                </span>
                                {%endif%}
                            </div>
                            <h2>{{lexical_features.Base}}</h2>
                        </div>
                    </div>
                </div>
                <div class="my-4">
                    <p class="mb-1 border-top border-bottom p-2">URL Internet Infrastructure</p>
                    <div class="w-100 px-2 py-2">
                        <div class="inline-flex w-100 my-1" style="gap:0.4rem;">
                            <span class="" style="flex: 0 1 10%;">Base</span>
                            <span class="" style="flex: 0 1 90%;">{{lexical_features.Base}}</span>
                        </div>
                        <div class="inline-flex w-100 my-1" style="gap:0.4rem;">
                            <span class="" style="flex: 0 1 10%;">Domain</span>
                            <span class="" style="flex: 0 1 90%;">{{lexical_features.Domain}}</span>
                        </div>
                        <div class="inline-flex w-100 my-1" style="gap:0.4rem;">
                            <span class="" style="flex: 0 1 10%;">Response</span>
                            <span class="" style="flex: 0 1 90%;">
                                {%for key,value in lexical_features.UrlResponse.items()%}
                                <span>
                                    <span>
                                        {{key}} : 
                                    </span>
                                    <span class="border px-1">{{value}}</span></span>
                                {%endfor%}
                            </span>
                        </div>
                        <div class="inline-flex w-100 my-1" style="gap:0.4rem;">
                            <span class="" style="flex: 0 1 10%;">DNS</span>
                            <span class="" style="flex: 0 1 90%;">
                                {%for item in lexical_features.DNS%}
                                <span class="border px-1 d-inline-flex m-1">{{item}}</span>
                                {%endfor%}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="my-4">
                    <p class="mb-1 border-top border-bottom p-2">DOM Properties</p>
                    <div class="w-100 px-2 py-2">
                        <div class="inline-flex w-100 my-1" style="gap:0.4rem;">
                            <span class="" style="flex: 0 1 10%;">Meta Tags</span>
                            <span class="" style="flex: 0 1 90%;">
                                {%for key,value in lexical_features.MetaTags.items()%}
                                <span>
                                    <span>
                                        {{key}} : 
                                    </span>
                                    <span class="border px-1 d-inline-flex m-1">{{value}}</span></span>
                                {%endfor%}
                            </span>
                        </div>
                        <div class="inline-flex w-100 my-1" style="gap:0.4rem;">
                            <span class="" style="flex: 0 1 10%;">Links</span>
                            <span class="" style="flex: 0 1 90%;">
                                {%for item in lexical_features.Links%}
                                <span class="border px-1 d-inline-flex m-1">{{item}}</span>
                                {%endfor%}
                            </span>
                        </div>
                        <div class="inline-flex w-100 my-1" style="gap:0.4rem;">
                            <span class="" style="flex: 0 1 10%;">Emails</span>
                            <span class="" style="flex: 0 1 90%;">
                                {%for item in lexical_features.Emails%}
                                <span class="border px-1 d-inline-flex m-1">{{item}}</span>
                                {%endfor%}
                            </span>
                        </div>
                        <div class="inline-flex w-100 my-1" style="gap:0.4rem;">
                            <span class="" style="flex: 0 1 10%;">Trackers</span>
                            <span class="" style="flex: 0 1 90%;">
                                {%for item in lexical_features.Trackers%}
                                <span class="border px-1 d-inline-flex m-1">{{item}}</span>
                                {%endfor%}
                            </span>
                        </div>
                        <div class="inline-flex w-100 my-1" style="gap:0.4rem;">
                            <span class="" style="flex: 0 1 10%;">Shortners</span>
                            <span class="" style="flex: 0 1 90%;">
                                {%for item in lexical_features.Shortners%}
                                <span class="border px-1 d-inline-flex m-1">{{item}}</span>
                                {%endfor%}
                            </span>
                        </div>
                        <div class="inline-flex w-100 my-1" style="gap:0.4rem;">
                            <span class="" style="flex: 0 1 10%;">HID Events</span>
                            <span class="" style="flex: 0 1 90%;">
                                {%for key,value in lexical_features.HIDEvents.items()%}
                                <span>
                                    <span>
                                        {{key}} : 
                                    </span>
                                    <span class="border px-1">{{value}}</span></span>
                                {%endfor%}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="my-4">
                    <p class="mb-1 border-top border-bottom p-2">DOM Forms</p>
                    <div class="w-100 px-2 py-2">
                        {%for value in lexical_features.Forms%}
                        <div class="w-100 my-1">
                            <p class="mb-1">{{value.method}} : {{value.target}}</p>
                            <div>
                                <code>
                                    {{value.content}}
                                </code>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>

        </div>
        
        <script src="" async defer></script>
    </body>
</html>